<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <button style="display: flex; justify-content: end;" class="logout-button-header" hidden>Logout</button>
  </header>

  <main>
    <div class="main">
      <%= htmlWebpackPlugin.options.bodyContent %>
    </div>
  </main>
  

  
</body>
</html>